body {
  background-image: url('grey.png');
}

#board {
  border: thick solid #1D7373;
  height: 576px;
  margin: 36px auto;
  width: 576px;
}
.square {
  color: #FF9640;
  float: left;
  font-size: 300%;
  height: 72px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  width: 72px;
}

.rank {
  clear: both;
}

.dark_square {
  background: #009999; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #009999 0%, #1d7373 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#009999), color-stop(100%,#1d7373)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #009999 0%,#1d7373 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #009999 0%,#1d7373 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #009999 0%,#1d7373 100%); /* IE10+ */
  background: linear-gradient(135deg,  #009999 0%,#1d7373 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009999', endColorstr='#1d7373',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.last_move {
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red, 1px 1px 2px #333;
}

#easter-egg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 128px;
  width: 160px;
}

#cartman {
  display: none;
}
